# Logs
/logs
/*.log
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*

# Runtime data
/pids
/*.pid
/*.seed
/*.pid.lock

# Coverage
/coverage

# Dependency directories
/node_modules/

# IDE
.DS_Store
.vscode
.idea

# Compiled sources
/esm/
/operators/
/index.js
/index.d.ts
/index.js.map
/observable/
/types/
/core/
/helpers/

# Compiled book
/docs/_book
/_book

# Cache
/.awcache
/.rpt2_cache
/.npm

# Private data
/.npmrc
/.coveralls.yml
