# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage

# Dependency directories
node_modules/
jspm_packages/

# IDE
.DS_Store
.vscode
.idea

# Compiled sources
docs
_book
compiled

# Cache
.awcache
.rpt2_cache
.npm

# Private data
.npmrc

# Other
tsconfig.json
tsconfig.esm.json
tsconfig.test.json
jest.config.json
tslint.json
testSetup.ts
.coveralls.yml
.size-limit.js
.travis.yml
.prettierrc
.gitignore